<!-- <nb-card size="medium">
  <nb-card-body>
    <div class="card-img-container">
      <img class="card-img" src="{{item.poster_image}}"/>
    </div>

    <div class="details">
        <h5>{{item.movie_title}}</h5>
      <div class="description">
        {{item.plot || 'No plot information available for this movie'}}
        {{item.plot}}
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</nb-card> -->

<nb-card size="x-small">
<nb-card-body>

<div class="row card-content">
<div class="col-4 image-container">
<img src="{{getPosterPath(item)}}" class="kit-card-img"/>
</div>
<div class="column col-8 card-content-container">
<div class="row">
    <div class="details">
        <h5>{{item.title}}</h5>
    </div>
<div>
  <span> <i class="icon ion-star kit-rating-icon"></i>  <span> {{item.popularity}}</span> &nbsp;&nbsp;</span>
  <span> <i class="icon ion-android-calendar kit-calendar-icon"></i> {{item.releaseDate | amCalendar}} &nbsp;&nbsp;</span>
</div>
<div class="w-100"></div>
<div *ngFor="let genre of item.genres">
<p class="kit-genre-label"> &nbsp; {{genre}} &nbsp;</p>
</div>
</div>
<br>
<div class="row kit-overflow-ellipsis">
<div>{{item.overview || 'No plot information available for this movie'}}</div>
<!-- <div class="row kit-position-to-bottom">
    <hr class="kit-divider"/>
    <button (click)="showMovieDetail()" type="button" class="btn btn-default btn-with-icon kit-more-info-button"><i class="ion-ios-arrow-down"></i>More Info</button>
    </div> -->
</div>
<nb-card-footer class="row kit-position-to-bottom">
    <hr class="kit-divider"/>
    <a href="https://akveo.github.io/react-native-ui-kitten" target="_blank">
      <i class="ion-ios-world"></i>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</div>
</div>
</nb-card-body>
</nb-card>

