@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .card-content {
    width: 100%;
  }

  .card-body2 {
      padding: 0 0;
  }

  .card-content-container {
    padding-left: 25px;
    overflow-wrap: break-word;
  }


  .image-container {
    padding: 0 0;
  }



  div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;

    background: blue;
  }

  div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    color: white;
    font-size: 24px;
    text-align: center;
  }

  .kit-card-img-container{
    width: 250px;
  }

  .kit-card-img{
    width: 100%;
    height: 220px;
    padding-right: 0px;
    margin-right: 0px;
    overflow: auto;
  }

  .kit-card-body{
    margin-left: 0px;
    padding-left: 0px;
  }

  .kit-rating-icon{
    color: gold;
    font-size: 15px;
  }

  .kit-calendar-icon{}

  .kit-genre-label{
    background: #e85656;
    border-radius: 7px;
    margin-right: 6px;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: -1px;
  }

  .kit-divider{
    width:100%;
    display:block;
    margin: 2px 0 2px 0;
    overflow: hidden;
    background-color: #24dec8;
  }

  .kit-more-info-button{
    border: none;
    text-align: center;
    background: transparent !important;
  }

  button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
  }

  .kit-position-to-bottom{
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 0px 15px 0 0px;
  }

  .kit-overflow-ellipsis{
    text-overflow: ellipsis;
    max-height: 90px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }



  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .card-img {
    width: 100%;
    height: 100%;
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .details {
    flex: 2;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }
}
