<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Register Movie</nb-card-header>
      <nb-card-body>
          <mat-accordion>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    General Information
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div class="input-group">
                    <input type="text" placeholder="Title" class="form-control" [(ngModel)]="movie.title"/>
                  </div>
                  <div class="input-group">
                    <textarea rows="5" placeholder="Overview" class="form-control" [(ngModel)]="movie.overview"></textarea>
                  </div>
                  <div class="row full-name-inputs">
                    <div class="col-sm-6 input-group">
                      <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="movie.releaseDate" required></my-date-picker>
                      </form>
                    </div>
                    <div class="input-group has-budget-icon col-sm-6">
                      <i class="fas fa-dollar-sign"></i>
                      <input type="text" placeholder="Budget" class="form-control" [(ngModel)]="movie.budget"/>
                    </div>
                  </div>
                  <div class="input-group">
                    <nb-checkbox [(ngModel)]="movie.adult"><span>Adult</span></nb-checkbox>
                    <nb-checkbox [(ngModel)]="movie.inCinemas"><span>In Cinemas</span></nb-checkbox>
                  </div>
                  <div class="form-group">
                   <div class="form-control"><label for="input-profile-pic" class="custom-file-upload">Upload Poster</label> <span> &nbsp;{{this.fileName}}</span> </div>
                   <input id="input-profile-pic" type="file" (change)="fileChangeEvent($event)" multiple/>
                  </div>
                  <div class="input-group input-group-rounded">
                    <input type="text" placeholder="Home Page" class="form-control"/>
                  </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Actors
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <nb-card class="card-with-no-bottom-shadow">
                    <!--<nb-card-header>Actors</nb-card-header>-->
                    <!--<nb-card-body>-->
                      <nb-tabset>
                        <nb-tab tabTitle="Find Actors">
                          <div class="contact" *ngFor="let c of contacts">
                            <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
                            <button type="button" class="tcon tcon-plus tcon-plus--check" aria-label="add item" (click)="this.addActor($event, c)">
                              <span class="tcon-visuallyhidden">add item</span>
                            </button>
                          </div>
                        </nb-tab>
                        <nb-tab tabTitle="Added Actors">
                          <div class="contact" *ngFor="let c of movie.actors">
                            <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
                            <button type="button" class="tcon tcon-remove tcon-remove--check" aria-label="remove item" (click)="this.removeActor($event, c)">
                              <span class="tcon-visuallyhidden">remove item</span>
                            </button>
                          </div>
                        </nb-tab>
                        <nb-tab tabTitle="Create Actors">
                          <nb-card class="card-with-no-bottom-shadow">
                            <div *ngIf="!showCreateActor;else createActor">
                              <nb-card-body>
                                <div class="contact" *ngFor="let c of movie.newActors">
                                    <nb-user [picture]="c.profilePics[0].path" [name]="c.fullName" [title]="'actor'" size="large"></nb-user>
                                    <button type="button" class="tcon tcon-remove tcon-remove--check" aria-label="remove item" (click)="this.removeCreatedActor($event, c)">
                                      <span class="tcon-visuallyhidden">remove item</span>
                                    </button>
                                  </div>
                              </nb-card-body>
                            </div>
                            <ng-template #createActor>
                              <nb-card-body>
                                <div class="row full-name-inputs">
                                  <div class="col-sm-6 input-group">
                                    <input type="text" placeholder="First Name" class="form-control" [(ngModel)]="actor.firstName"/>
                                  </div>
                                  <div class="col-sm-6 input-group">
                                      <input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="actor.lastName"/>
                                  </div>
                                </div>
                                <div class="input-group">
                                  <textarea rows="5" placeholder="Bio" class="form-control" [(ngModel)]="actor.bio"></textarea>
                                </div>
                                <div class="row full-name-inputs">
                                  <div class="col-sm-6 input-group">
                                    <form #myForm="ngForm" novalidate>
                                        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="actor.dob" required></my-date-picker>
                                    </form>
                                  </div>
                                  <div class="input-group has-phone-number-icon col-sm-6">
                                    <i class="fas fa-dollar-sign"></i>
                                    <input type="text" placeholder="Phone Number" class="form-control" [(ngModel)]="actor.phoneNumber"/>
                                  </div>
                                </div>
                                <div class="input-group">
                                  <nb-checkbox [(ngModel)]="actor.retired"><span>Retired</span></nb-checkbox>
                                </div>
                                <div class="form-group">
                                  <div class="form-control"><label for="actor-profile-pic" class="custom-file-upload">Profile Picture</label> <span> &nbsp;{{this.profilePicFileName}}</span> </div>
                                  <input id="actor-profile-pic" type="file" (change)="actorProfilePicUpload($event)" multiple/>
                                </div>
                                <div class="row full-name-inputs">
                                  <div class="col-sm-6 input-group input-group-rounded">
                                    <input [(ngModel)]="actor.socialLinks.facebook" type="text" placeholder="Facebook Account Path" class="form-control"/>
                                  </div>
                                  <div class="col-sm-6 input-group input-group-rounded">
                                      <input [(ngModel)]="actor.socialLinks.twiter" type="text" placeholder="Twitter Account Path" class="form-control"/>
                                  </div>
                                </div>
                                <div class="input-group full-name-inputs">
                                  <button (click)="submitActor()" class="input-group btn btn-primary actor-submit-button" type="button">Create Actor</button>
                                </div>
                              </nb-card-body>
                            </ng-template>
                          </nb-card>
                        </nb-tab>
                      </nb-tabset>
                    <!--</nb-card-body>-->
                  </nb-card>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="input-group full-name-inputs movie-submit-button">
              <button (click)="submitMovie()" class="input-group btn btn-primary actor-submit-button" type="button">Create Movie</button>
            </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
